body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: auto;
  text-align: center;
}

/*#myHead.area:hover {opacity: 0.7;}
#CS.area:hover {opacity: 0.7;}*/

table, td {
  border: 1px solid black;
  margin: auto;
  width: 1px;
}

.links {
  font-size: large;
  font-weight: bold;
  font-family: "Verdana", Geneva, sans-serif;
  background-color: white;
  color: #496ab5;
  border: 1px solid #a3aabb;
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
}

/* mouse over link */
.links:hover {
  color: white;
  background-color: darkblue;
}

/* clicked link */
.links:active {
  color: gray;
  background-color: white;
}
