/* CSS for Word Rain Project */
#results {
    position: absolute;
    z-index: 1;
    font-size: xx-large;
    /* border: 1px solid #ddd; */
    padding: 20px;
    text-align: left;
    max-width: 900px;
    max-height: 20px;
}
.interim {
    color: white;
    font-weight: lighter;
}
.final {
    color: white;
    font-weight: bold;
    padding-right: 3px;
}